{% extends './index.html' %}
{% block content %}
<form>
    <h2 id="titulo">Registro de usuario</h2>
    <label for="cedula">Cédula: </label>
    <input type="text" name="cedula" id="cedula"><br>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre"><br>
    <label for="contraseña">Contraseña: </label>
    <input type="password" name="contraseña" id="contraseña"><br>
    <label for="repetida">Contraseña (de nuevo): </label>
    <input type="password" name="repetida" id="repetida"><br>
    <label for="correo">Correo electrónico: </label>
    <input type="email" name="correo" id="correo"><br>
    <button type="button" onclick="registrar_usuario();">Mandar correo</button>
</form>
{% endblock %}