{% extends './index.html' %}
{% block content %}
<table>
    <tr>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Votado</th>
    </tr>
    <tr>
        <td>111</td>
        <td>Ana Paula</td>
        <td>Presidente 1</td>
    </tr>
    <tr>
        <td>222</td>
        <td>Luna Hazuki</td>
        <td>Presidente 2</td>
    </tr>
    <tr>
        <td>333</td>
        <td>Ana Mercedes</td>
        <td>Presidente 3</td>
    </tr>
    <tr>
        <td>444</td>
        <td>Maria Moolit</td>
        <td>Presidente 3</td>
    </tr>
</table>
{% endblock %}