<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
    <link rel="stylesheet" href="http://localhost:5000/style.css">
    <script src="http://localhost:5000/index.js" defer></script>
    <title>Votación</title>
</head>
<body>
    <header>
        <a href="{{ url_for('iniciar') }}">
            <h1>Votación</h1>
        </a>
        <!-- {% if token == 'None' %} -->
        <div>
            <a href="{{ url_for('registrar_usuario') }}">
                <button type="button">Registrar participante</button>
            </a>
            <a href="{{ url_for('iniciar_sesion') }}">
                <button type="button">Iniciar sesión</button>
            </a>
        </div>
        <!-- {% elif token['cedula'] == 'Administrador' %} -->
        <div>
            <a href="{{ url_for('registrar_candidato') }}">
                <button type="button">Registrar candidatos</button>
            </a>
            <a href="{{ url_for('cerrar') }}">
                <button type="button">Cerrar sesión</button>
            </a>
        </div>
        <!-- {% else %} -->
        <div>
            <a href="{{ url_for('votar') }}">
                <button type="button">Votar</button>
            </a>
            <a href="{{ url_for('cerrar') }}">
                <button type="button">Cerrar sesión</button>
            </a>
        </div>
        <!-- {% endif %} -->
    </header>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('listar_votantes') }}">Votantes</a>
            </li>
            <li>
                <a href="{{ url_for('listar_candidatos') }}">Candidatos</a>
            </li>
            <li>
                <a href="{{ url_for('mostrar_resultados') }}">Resultados</a>
            </li>
        </ul>
    </nav>
    <h2>Bienvenido a la página de votaciones</h2>
    <p>
        Esta página está dedicada para que usuarios puedan 
        votar por ciertos candidatos. <br>
        Está hecha para que sea amigable a los usuarios y 
        sea fácil de comprender y usar.
    </p>
    <input type="hidden" name="usuario_actual" id="usuario_actual">
</body>
</html>