<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <title>Votación</title>
</head>
<body>
    <header>
        <a href="{{ url_for('iniciar') }}">
            <h1>Votación</h1>
        </a>
        <div>
            <a href="{{ url_for('registrar_usuario') }}">
                <button type="button">Registrar participante</button>
            </a>
            <a href="{{ url_for('iniciar_sesion') }}">
                <button type="button">Iniciar sesión</button>
            </a>
        </div>
        <p id="usuario">Usuario: ninguno</p>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('listar_votantes') }}">Votantes</a>
            </li>
            <li>
                <a href="{{ url_for('listar_candidatos') }}">Candidatos</a>
            </li>
            <li>
                <a href="{{ url_for('mostrar_resultados') }}">Resultados</a>
            </li>
        </ul>
    </nav>
    {% for mensaje in get_flashed_messages() %}
    <p style="color: red;">{{ mensaje }}</p>
    {% endfor %}
    <input type="hidden" name="usuario_actual" id="usuario_actual">
    {% block content %}
    {% endblock %}
</body>
</html>